@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  font-family: "911 Porscha", sans-serif;
  font-family: "911 Porscha Condensed", sans-serif;
  font-family: "911 Porscha Italic", sans-serif;
  font-family: "911 Porscha Laser Italic", sans-serif;
  font-family: "911 Porscha Leftalic", sans-serif;
  font-family: "911 Porscha Bold", sans-serif;
}
